<!doctype html>
<html lang="ja">
<head>
    <link rel="icon" href="{{url_for('static',filename='favicon/bird.ico')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/layout.css')}}">
    {% block css %}
    <!-- ここにCSSのリンクを埋め込む -->
    {% endblock %}
    <header>
        <div class="hedder_layout">
          <img src="{{url_for('static', filename='image/bird.png')}}" width="100px" height="100px">
          {% block title %}
          <!-- ページのタイトル -->
          {% endblock %}
        </div>
    </header>
    <title>Uitter</title>
</head>
<body>
    {% block content %}
    <!-- メインコンテンツ -->
    {% endblock %}
</body>
<footer>
    <div class="footer_layout">
        <a href="{{url_for('top')}}"><img src="../static/image/top.png"></a>
        <a href="#"><img src="../static/image/search.png"></a>
        <a href="{{url_for('mypage')}}"><img src="../static/image/user.png"></a>
        <a href="{{url_for('setting')}}"><img src="../static/image/gear.png"></a>
    </div>    
</footer>
</html>